body {
    background-color: #0c0c0b;
    color: #eff3eb;
    background-image: url(img/background.png);
    background-size: 150px 150px;
    background-blend-mode: multiply;
}

p {
    color: #eff3eb;
}

.mainPage {
    
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 840px;
    margin: auto;
    justify-content: center;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.mainBanner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: green;
    border: 2px outset gray;
}

.mainSection {
    display: flex;
    flex-direction: row;
    font-size: 12px;
    width: 100%;
    
}

.topSection {
    margin-bottom: 20px;
}

.mainMenu {
  
    padding: 5px;
    flex: 1 1 20%;
    max-width: 20%;
    border: 1px solid gray;
    margin-right: 10px;
    height: 250px;
    background-color: #0c0c0b;

}


.contentArea {
    padding: 5px;
    flex: 3 1 80%;

    word-wrap: break-word;
    border: 1px solid gray;
}


.mainMenuItem {
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5px;
}


.sideBarIframe {
    max-width: 100%;
    border-style: none;
    height: 100%;
    overflow: visible;
    scrolling: no;
    background-color: #0c0c0b;
}

#siteName {
    font-family: Arial, Helvetica, sans-serif;
    color: yellow;
    text-decoration: underline;
}